Django>=5.0
djangorestframework
psycopg2-binary
django-cors-headers
channels
daphne
dj-database-url
whitenoise
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
xgboost>=2.0.3
optuna>=3.6.0
shap>=0.45.0
joblib>=1.3.2
channels-redis
